<!-- Modal -->
<%= form_tag site_comments_path	do %>
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Deixe seu comentário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Comentário</label>
                    <%= text_area :comment, :body, class:"form-control", placeholder:"Enter text", rows: 5 %>
                    <%= hidden_field :comment, :ad_id, value: @ad.id %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <%= submit_tag "Enviar", class:"btn btn-primary" %>
            </div>
        </div>
    </div>
    </div>
<% end %>